<nav class="navbar navbar-expand-lg navbar-light bg-red py-lg-5">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item px-lg-4">
                <h1 class="text-dark text-uppercase">rejoins le milieu</h1>
            </li>
            <li class="nav-item px-lg-3">
                <a class="nav-link" href="https://twitter.com/BS_GTARP" target="_blank"><img src="/img/empty.png" id="twitter"></a>
            </li>
            <li class="nav-item px-lg-3">
                <a class="nav-link" href="https://discord.gg/YxZCGbj" target="_blank"><img src="/img/empty.png" id="discord"></a>
            </li>
            <li class="nav-item px-lg-3">
                <a class="nav-link" href="https://www.youtube.com/channel/UClpDaESKwOYUHXhdRm_PZaw" target="_blank"><img src="/img/empty.png" id="youtube"></a>
            </li>
            <!--<li class="nav-item px-lg-1">
                <a class="nav-link" href="" target=" _blank"><img src="img/empty.png" id="twitch"></a>
            </li>-->
        </ul>
    </div>
</nav>
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white" id="mentions">&copy;2019 Tous droits réservés - Grand Theft Auto, Grand Theft Auto:V et Grand Theft Auto:Online sont la propriété de « Take-Two Interactive Software ». « Black Syndicate » n'est en aucun cas lié avec ces derniers, et tous les droits relatifs
            à l'utilisation des ressources originales reviennent à « Take-Two Interactive Software ». L'ensemble du contenu et de la structure de « Black Syndicate » est protégé par le Code de la propriété intellectuelle, en particulier par ses articles
            L.111-1 et L.123-1.</p>
        <div>
            <a class="small" href="{{ path('login') }}">Admin Site</a> / <a class="small" href="http://black-syndicate.info:40120">Admin Serveur</a>
        </div>
    </div>
</footer>
