<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Black Syndicate - Site officiel du serveur FiveM GTA-RP &copy;Black Syndicate">
<meta name="author" content="FonWasH">
<title>Black Syndicate - Serveur GTARP</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="shortcut icon" type="image/png" href="/favicon.png" />
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
