{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/navBar.html.twig' %}
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">F.A.Q.
        </h1>
        <hr>
        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingOne">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">#1 Comment rejoindre le serveur?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <p>
                            Pour nous rejoindre il est obligatoire de posséder le jeu <strong>Grand Thef Auto 5</strong> et <a href="https://fivem.net/" target="_blank">FiveM (Gratuit)</a>
                        </p>
                        <p>Vous devez également remplir <strong>les conditions suivantes:</strong>
                        </p>
                        <ul>
                            <li>
                                Avoir plus de <strong>18 ans.</strong>
                            </li>
                            <li>
                                Avoir <strong>lu les règles</strong> dans la section <a href="about.html">INFOS</a>
                            </li>
                            <li>
                                Avoir <a href="https://store.steampowered.com/?l=french" target="_blank">Steam</a> installé.
                            </li>
                            <li>
                                Avoir <a href="https://teamspeak.com/en/downloads/#client" target="_blank">Teamspeak3</a> installé.
                            </li>
                            <li>
                                Vous devez également installé ce <a href="https://github.com/Itokoyamato/TokoVOIP_TS3/releases/download/v1.2.5-v1.3.5/tokovoip_1_2_5.ts3_plugin" target="_blank">puglin</a> TeamSpeak3.
                            </li>
                            <li>
                                Avoir <a href="https://discordapp.com/" target="_blank">Discord</a> installé <strong>sur votre ordinateur.</strong>
                            </li>
                        </ul>
                        <p>
                            Si vous remplissez <strong>toutes ces conditions</strong> alors vous pouvez rejoindre notre discord pour passer un entretien vocal avec le staff.
                        <h3><strong color="white">DISCORD</strong>
                            <a href="https://discord.gg/YxZCGbj" target="_blank"><img src="../img/empty.png" id="discord-white"></a>
                        </h3>
                        </p>
                    </div>
                </div>
            </div>



            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingTwo">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#2 Pourquoi j'ai un écran noir en jeu ?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <p>
                            Dans un premier temps assurez-vous d'avoir <a href="https://teamspeak.com/en/downloads/#client" target="_blank">Teamspeak3</a> et ce <a href="https://github.com/Itokoyamato/TokoVOIP_TS3/releases/download/v1.2.5-v1.3.5/tokovoip_1_2_5.ts3_plugin"
                                                                                                                                                                    target="_blank">puglin</a> installés sur votre ordinateur.
                        </p>
                        <p>
                            Lancez TeamSpeak3 et connectez-vous sur notre serveur : <strong>black-syndicate.info</strong>
                        </p>
                        <p>
                            C'est bon! Vous n'avez plus qu'à rejoindre la <strong>Salle d'attente</strong> et vous connecter sur le serveur de jeu.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingTwo">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#3 Comment installer Steam?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <p>
                            Steam est un logiciel qui vous permet d'acheter des jeux et de jouer en ligne avec vos amis. <br>Rassurez-vous, hormis GTA-5 que vous devez obligatoirement posséder pour nous rejoindre, on ne vous demandera pas d'achats supplémentaire,
                            l'accès au serveur est totalement gratuit.
                            <br>Nous avons besoin de Steam uniquement pour relier des informations entre votre compte et votre personnage.
                        </p>
                        <ul>
                            <li>
                                Si vous n'avez pas de compte Steam, allez sur le site <a href="https://store.steampowered.com/?l=french" target="_blank">Steam</a>
                            </li>
                            <li>
                                Cliquer sur <strong>Connexion</strong> puis <strong>Inscription</strong>, suivez les étapes d'inscription attentivement.
                            </li>
                            <li>
                                Une fois votre compte créé, cliquez sur <strong>Installer</strong>, suivez les étapes d'installation attentivement.
                            </li>
                            <li>
                                Voilà vous avez Steam installé avec un compte, vous pouvez nous rejoindre!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingThree">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">#4 Comment installer FiveM?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                        <p>
                            FiveM est un logiciel qui vous permet de rejoindre des serveurs privés GTA5 il est totalement gratuit.
                            <br>Si vous avez déjà FiveM qu'es ce que vous faites là? Rejoignez nous! Sinon suivez ces étapes:
                        </p>
                        <ul>
                            <li>
                                Allez sur le site <a href="https://fivem.net/" target="_blank">Fivem</a>
                            </li>
                            <li>
                                Cliquer sur <strong>Download Client</strong>.
                            </li>
                            <li>
                                Une fois téléchargé, installer FiveM, suivez les étapes d'installation attentivement.
                            </li>
                            <li>
                                Pendant ces étapes FiveM va vous demander votre compte et votre mot de passe RockstarSocial Club.
                                <br>Rentrez les afin de vérifier que vous êtes bien propriétaire du jeu GTA-5.
                            </li>
                            <li>
                                Voilà vous avez FiveM installé, vous pouvez nous rejoindre!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingFive">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">#5 Comment créer un gang/entreprise?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-body">
                        <p>Pour créer son gang ou une entreprise vous devez remplir certaines conditions:</p>
                        <ul>
                            <li>
                                Être présent et actif sur le serveur depuis au moins un mois.
                            </li>
                            <li>
                                Avoir avec soit au moins 4 membres actifs également, mais pas forcément depuis un mois.
                            </li>
                            <li>
                                Avoir une idée et/ou son projet, structuré et cohérent avec le reste du serveur.
                            </li>
                        </ul>
                        <p>Si vous remplissez toutes ces conditions vous pouvez soumettre votre projet au staff qui étudira votre proposition.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /accordion -->
    </div>
{% endblock %}
