<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'partials/head.html.twig' %}
</head>
<body class="index-body">
    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
    {% block javascripts %}{% endblock %}
    {% include 'partials/script.html.twig' %}
</body>
</html>
