<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        {% include partials/head.html.twig %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
